// colors
$yellow:#f9b43b;
$black: #2f3234;
$orange:#e45028;
$red:#e45028;

// breakpoints

$tablets: 768px;
$phones:480px;


@import './layout/media';
@import './layout/mixins';
@import './layout/fonts';
@import './layout/base';
@import './blocks/button';
@import'./blocks/_welcoming';
@import'./blocks/_burger__picture';
@import './blocks/header';
@import './blocks/navigation';
@import './blocks/hamburger-menu-link';


@import'./blocks/ham-menu';
@import './blocks/sidebar';
@import './blocks/section';
@import './blocks/down-arrow';
@import './blocks/we';
@import './blocks/feature';
@import './blocks/slider';
@import './blocks/content';
@import './blocks/calories';
@import './blocks/ingridients';
@import './blocks/team';
@import './blocks/accordeon';
@import './blocks/menu';
@import './blocks/menu-accordeon';
@import './blocks/reviews';
@import './blocks/feedback';
@import './blocks/form';
@import './blocks/order__form';
@import './blocks/map';
@import './blocks/footer';
@import './blocks/social';





