@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-style: 13px; } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, p {
  margin: 0;
  font-weight: normal; }

h1 {
  font-family: 'gagalin', Arial, sans-serif;
  font-weight: normal;
  font-size: 72px;
  text-transform: uppercase; }

p {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }
  ul > li {
    list-style: none; }

.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff; }

.container {
  max-width: 940px;
  width: 95%;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

button {
  border: none;
  background: transparent;
  cursor: pointer; }

.section {
  height: 100vh;
  min-height: 650px; }

footer {
  position: relative;
  width: 100%; }

.welcoming {
  background: url("../images/1st_page/leaves_burger.jpg") center center no-repeat/cover;
  height: 100vh;
  width: 100%;
  position: relative; }

.welcoming__container {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.welcoming__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: .8;
  -ms-flex: .8;
  flex: .8;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .welcoming__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 15%; } }

.welcoming__content-image {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .welcoming__content-image {
      width: 100%; } }

.welcoming__content-text {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .welcoming__content-text {
      width: 100%;
      padding-top: 0;
      text-align: center; } }

.welcoming__desc-text {
  font-family: 'lifehack';
  font-weight: 500;
  font-size: 4.0625rem;
  line-height: 1.31;
  letter-spacing: -1.6px;
  text-align: left; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0.8125rem; }

.header__logo {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  max-width: 100%; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 83%; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .navigation {
      display: none; } }

.nav__li {
  margin-right: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 500;
  line-height: 2.31; }
  .nav__li:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    margin-left: 0.9375rem; }
  .nav__li:last-child {
    margin-right: 0; }
    .nav__li:last-child:after {
      display: none; }

.nav__link {
  text-decoration: none;
  color: inherit;
  font-size: 0.8125rem; }

.nav__li--changed {
  margin-right: 0.9375rem; }
  .nav__li--changed:after {
    display: none; }

.nav__button {
  background-color: #e45028;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .nav__button {
      position: absolute;
      right: 15px;
      top: 1.5625rem; } }

.hamburger-menu-link {
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.25rem 1rem;
  border: 1px transparent;
  border-radius: 0.3125rem;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 500;
  line-height: 2.31; }

.button__link {
  text-decoration: none;
  color: inherit;
  font-size: 0.8125rem;
  text-transform: uppercase; }

.sidebar__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.sidebar__li {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.sidebar__link {
  text-decoration: none;
  color: inherit;
  position: relative; }
  .sidebar__link::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: solid 1px #ffffff;
    border-radius: 50%; }
  .sidebar__link:after {
    content: '';
    display: inline-block;
    width: 0.375rem;
    height: 0.375rem;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
    bottom: 1.5rem;
    left: 0.125rem;
    margin: 0.3125rem; }

.section-title {
  color: #f9b43b;
  text-align: left; }
  .section-title--black {
    color: #2f3234; }
  .section-title--center {
    text-align: center; }
  .section-title--yellow {
    color: #f9b43b; }

.down-arrow {
  display: block;
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.we {
  background: url("../images/2nd_page/bg.jpg") center center no-repeat/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  color: #2f3234; }

.we__header {
  margin-bottom: 3.125rem; }

.we__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.we__li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 2.25rem;
  width: 31%; }
  .we__li:last-child {
    margin-right: 0; }

.feature__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 2.0625rem;
  min-height: 5.5625rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.feature__image-pic {
  max-width: 100%; }

.feature__text {
  text-align: center; }

.feature__title {
  font-family: 'Lifehack', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.6px;
  color: #2f3234;
  margin-bottom: 1.5625rem; }

.feature__desc {
  font-family: 'Ubuntu', Arial,sans-serif;
  font-size: 0.875rem;
  line-height: 1.71;
  color: rgba(47, 50, 52, 0.8); }

.team {
  background: url("../images/team_page/team_pic.jpg") center center no-repeat/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.team__content {
  position: absolute;
  top: 0;
  right: 0;
  width: 48%;
  height: 100vh;
  background-color: rgba(47, 50, 52, 0.93); }
  @media screen and (max-width: 768px) {
    .team__content {
      width: 100%; } }

.team__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 7.125rem 21% 8.375rem; }

.team__heading {
  margin-bottom: 2.875rem; }

.team__item {
  padding-bottom: 2.1875rem; }

.accordeon {
  margin-bottom: 2.5rem; }
  @media screen and (max-width: 768px) {
    .accordeon {
      margin-bottom: 1.875rem; } }
  .accordeon:last-child {
    margin-bottom: 0; }
  .accordeon.active .accordeon__popup {
    color: #f9b43b; }
    .accordeon.active .accordeon__popup:before {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }

.accordeon__popup {
  color: #fff;
  font-size: 0.875rem;
  text-decoration: none;
  position: relative;
  display: block;
  margin-bottom: 1.25rem; }
  .accordeon__popup:before, .accordeon__popup:after {
    content: "";
    display: block;
    position: absolute;
    left: -1.125rem;
    top: 0.5rem;
    width: 0;
    height: 0; }
  .accordeon__popup:before {
    border-top: 0.4375rem solid #f9b43b;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-bottom: 0rem solid transparent;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .accordeon__popup:after {
    display: none;
    border-bottom: 0.4375rem solid #f9b43b;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-top: 0rem solid transparent; }
  @media screen and (max-width: 768px) {
    .accordeon__popup {
      font-size: 1.5625rem; }
      .accordeon__popup:before {
        margin-top: 0.625rem; } }

.accordeon__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: left;
  display: none; }
  @media screen and (max-width: 768px) {
    .accordeon__info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center; } }

.accordeon__heading-text {
  font-family: 'Gagalin', Arial,sans-serif;
  font-size: 0.875rem;
  padding-bottom: 1.0625rem; }

.accordeon__picture {
  display: inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.accordeon__picture-img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%; }

.accordeon__desc {
  padding-left: 1.3125rem;
  font-family: 'Ubuntu', Arial, sans-serif; }

.accordeon__desc-heading {
  font-weight: bold;
  padding-bottom: 0.625rem; }

.menu {
  background: url("../images/burger_menu/burger_menu_background.jpg") center center no-repeat/cover;
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__title {
  color: #fff;
  position: absolute;
  top: 10%;
  left: 10%; }

.menu-accordeon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 24%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu-accordeon__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.menu-accordeon-image {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.menu-accordeon__popup {
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-family: 'Gagalin', Arial, sans-serif;
  font-size: 2.5rem;
  margin-top: -1.25rem;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr; }

.menu-accordeon__content {
  height: 100%;
  background: rgba(47, 50, 52, 0.93);
  width: 0; }

.menu-accordeon__content-text {
  font-family: 'Ubuntu', Arial,sans-serif;
  font-size: 0.875rem;
  text-align: center; }

.reviews__ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__li {
  height: 50%;
  width: 25%; }
  @media screen and (max-width: 768px) {
    .reviews__li {
      width: 50%;
      height: 25%; } }

.feedback {
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .feedback:hover .feedback__hover {
    opacity: 1; }

.feedback__avatar {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%; }

.feedback__title {
  font-family: 'Gagalin', Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 2;
  padding-bottom: 1.875rem; }
  @media screen and (max-width: 768px) {
    .feedback__title {
      padding-bottom: 0.75rem; } }

.feedback__text {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-size: 0.875rem;
  padding-bottom: 0.9375rem; }

.feedback__button {
  background-color: #2f3234; }

.feedback__hover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2.8125rem 10% 0.625rem;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s; }
  @media screen and (max-width: 768px) {
    .feedback__hover {
      text-align: center;
      padding: 1.5625rem 10% 0.3125rem; } }

.form {
  background: url("../images/form/Background.jpg") center center no-repeat/cover;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-size: 0.875rem; }
  .form .section-title {
    text-align: center;
    margin-bottom: 2.8125rem; }

.order {
  margin-left: -5%; }
  @media screen and (max-width: 768px) {
    .order {
      margin-left: 0;
      padding: 0 20%; } }
  @media screen and (max-width: 480px) {
    .order {
      padding: 0; } }

.order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .order__form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.order__form-column {
  width: 50%;
  margin-right: 5%; }
  @media screen and (max-width: 768px) {
    .order__form-column {
      width: 100%;
      margin-left: 0; } }

.order__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem; }

.order__form-label {
  margin-right: 5%;
  display: block;
  width: 100%; }

.order__form-name {
  margin-bottom: 0.625rem; }

.order__form-input {
  border: 0.0625rem solid #d1cfcb;
  border-radius: 0.3125rem;
  width: 100%;
  padding: 0.4375rem 0.9375rem; }

.order__form-input-textarea {
  height: 6.875rem;
  resize: none; }

.radio__button {
  position: relative;
  white-space: nowrap;
  margin-right: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.radio__button-box {
  position: absolute;
  top: 0;
  left: -624.9375rem; }

.radio__button-fake {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.625rem;
  background: #fff;
  position: relative; }
  .radio__button-fake:after {
    content: "";
    display: block;
    position: absolute;
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    background: #e45028;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width .3s, height .3s;
    -o-transition: width .3s, height .3s;
    transition: width .3s, height .3s; }

.radio__button--checkbox .radio__button-fake {
  border-radius: 0rem; }

.radio__button--checkbox .radio__button-box + .radio__button-fake:after {
  background: transparent; }

.radio__button--checkbox .order__radio-elem:checked + .radio__button-fake:after {
  background: url("./images/form/checkbox.png") 50% no-repeat transparent;
  background-size: contain;
  width: 0.6875rem;
  height: 0.5625rem; }

.order__form-button {
  background: #e45028;
  border: 0;
  border-radius: 0.3125rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 500;
  margin-right: 1.25rem;
  padding: 0.625rem 0.9375rem; }

.order__form-button--clear {
  padding: 0;
  text-transform: none;
  background: transparent;
  font-weight: 400; }

.map {
  background: url("../images/map/burger-map.jpg") center center no-repeat/cover;
  width: 100%;
  height: 100vh;
  position: relative; }

.footer {
  background: url("../images/map/footer_bckg.jpg") center bottom no-repeat/cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer__content {
  font-family: 'Ubuntu', Arial,sans-serif;
  font-size: 0.9375rem;
  width: 50%;
  margin: 0.625rem; }
  @media screen and (max-width: 480px) {
    .footer__content {
      width: 100%;
      text-align: center;
      font-size: 0.875rem; } }

.footer__address {
  margin-bottom: 0.625rem; }

.footer__phone {
  color: #e45028;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 0.625rem; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 480px) {
    .social {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.social__svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: #fff;
  opacity: 0.5; }
  .social__svg:hover {
    opacity: 1;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }

.social__icon {
  margin-right: 10px; }
