.accordeon{
    margin-bottom: rem(40px);
  
  @include tablets {
    margin-bottom: rem(30px);
  }

	&:last-child {
		margin-bottom: 0;
	}

	
}

.accordeon--active{
	.accordeon__popup {
			color: $yellow;

			&:before {
				transform: rotate(-180deg);
			}
		}

	.accordeon__info{
		height: 100%;
	}
}

.accordeon__popup{
    color: #fff;
	font-size: rem(14px);
	text-decoration: none;
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: rem(20px);
	font-family: 'Gagalin', Arial,sans-serif;
	font-size: rem(14px);

	&:before, &:after {
		content: "";
		display: block;
		width: 0;
		height: 0;
		margin-right: rem(10px);
	}

	&:before {
		border-top: rem(7px) solid $yellow;
		border-left: rem(5px) solid transparent;
		border-right: rem(5px) solid transparent;
		border-bottom: rem(0px) solid transparent;
		transform: rotate(0deg);
		transition: .3s;
	}

	&:after {
		display: none;
		border-bottom: rem(7px) solid $yellow;
		border-left: rem(5px) solid transparent;
		border-right: rem(5px) solid transparent;
		border-top: rem(0px) solid transparent;
	}

	@include tablets {
		font-size: rem(25px);
		justify-content: center;
		
    }
}


.accordeon__info{
    display: flex;
    flex-direction:row;
	text-align: left;
	height: 0;
	overflow: hidden;
    @include tablets{
        flex-direction: column;
        text-align: center;
    }
    
}

.accordeon__info--active{
	height: 100%;
}


.accordeon__picture{
    display: inline-block;
    @include cover;
}

.accordeon__picture-img{
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
}

.accordeon__desc{
    padding-left: rem(21px);
    font-family: 'Ubuntu', Arial, sans-serif;
}

.accordeon__desc-heading{
    font-weight: bold;
    padding-bottom: rem(10px);
}

