.calories{
    position: absolute;
    left: 0;
    bottom: rem(150px);
    opacity: 0.5;
    font-family: 'Gagalin', arial, sans-serif;
    @include tablets{
        left: 85%;
        top: 0;
    }

}
.calories__svg{
    width: rem(60px);
    height: rem(60px);
    position: relative;

}
.calories__number{
    font-size: rem(20px);
    position: absolute;
    top: 30%;
    left: 26%;
    @include tablets{
        top: 4%;
        left: 22%;
        
    }


}
.calories__text{
    text-align: center;
}