.down-arrow{
    display: block;
     position: absolute;
     bottom: 40px;
     left: 50%;
     transform: translateX(-50%);
     border: 30px solid transparent;
     border-top-color: #ffffff;
     width: 0;
     height: 0;
    // &::after{
    //     content: '';
    //     border: 30px solid transparent;
    //     border-top-color: black;
    //     width: 0;
    //     height: 0;
    //     position: absolute;
    //     top: 0;
    //     left: 0;


    // }
}