.feature__image{
    display: flex;
    justify-content: center;
    margin-bottom: rem(33px);
    min-height: rem(89px);
    align-items: center;
    @include phones{
        flex-shrink: 0;
        width: 30%;
        margin-right: rem(30px);
        margin-bottom: 0;
    }
}

.feature__image-pic{
    max-width: 100%;
    
}

.feature__text{
    text-align: center;
    @include phones{
        text-align: initial;
    }
}

.feature__title{
    font-family: 'Lifehack', Arial, Helvetica, sans-serif;
    font-size: rem(24px);
    font-weight: 500;
    letter-spacing: -0.6px;
    color: $black;
    margin-bottom: rem(25px);
}

.feature__desc{
    font-family: 'Ubuntu', Arial,sans-serif;
    font-size: rem(14px);
    line-height: 1.71;
    color: rgba(47, 50, 52, 0.8);

}