.feedback{
    position: relative;
    filter: grayscale(100%);
    
    &:hover{
            .feedback__hover{

            
            opacity:1;
        }
    }
}


.feedback__avatar{
    object-fit: cover;
    height: 100%;
    width: 100%;
    

}

.feedback__title{
    font-family: 'Gagalin', Arial, sans-serif;
    font-size: rem(14px);
    line-height: 2;
    padding-bottom: rem(30px);
    @include tablets{
        padding-bottom: rem(12px);
    }
}

.feedback__text{
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: rem(14px);
    padding-bottom: rem(15px);
}
.feedback__button{
   background-color: $black;
  
   
}

.feedback__hover{
    // width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba( #000, .8);
    padding: rem(45px) 10% rem(10px);
    color: #fff;
    opacity:  0;
    transition: opacity .2s;
    @include tablets{
        text-align: center;
        padding: rem(25px) 10% rem(5px);
    }
}
