.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(13px);
}

.header__logo{
    justify-content: flex-start;
    // margin-right: 69px;
    max-width: 100%;
}







