.menu-accordeon{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    max-width: rem(830px);
    @include tablets{
        max-width: rem(500px);
        width: 100%;
        
    }

}

.menu-accordeon__item{
    display: flex;
    align-items:flex-end; 
}
.menu-accordeon-image{
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    min-width: rem(80px);

}
.menu-accordeon__popup{
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-family: 'Gagalin', Arial, sans-serif;
  font-size: rem(40px);
  margin-top: rem(-20px);
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  display: flex;
  align-items: center;
}

.menu-accordeon__popup-text{
    padding-top: rem(40px);
}

.menu-accordeon__content{
    width: 0;
    height: 100%;
    background: rgba(47,50,52, 0.93);
}

.menu-accordeon__content--active{
    .menu-accordeon__content{
     
        width: 100%;

    }
    .menu-accordeon__popup-text{
        color: $yellow;
    }
}
.menu-accordeon__content-text{
font-family: 'Ubuntu', Arial,sans-serif;
font-size: rem(14px);
padding: 8%;
}

