.menu-accordeon{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 24%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;

}

.menu-accordeon__item{
    display: flex;
    align-items:flex-end; 
}
.menu-accordeon-image{
    height: 100vh;
     position: relative;
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat; 

}
.menu-accordeon__popup{
// position: absolute;
//   transform: rotate(-90deg) translateY(-50%);
//   transform-origin: 0 0;
//   left: 50%;
//   top: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-family: 'Gagalin', Arial, sans-serif;
  font-size: rem(40px);
  margin-top: rem(-20px);
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}

.menu-accordeon__popup-text{
    
}

.menu-accordeon__content{
   height: 100%;
   background: rgba(47,50,52, 0.93);
   width: 0;

}

.menu-accordeon__content-text{
font-family: 'Ubuntu', Arial,sans-serif;
font-size: rem(14px);
text-align: center;
}

