 .order{
     margin-left: -5%;
        @include tablets{
            margin-left: 0;
            padding: 0 20%;

     }
        @include phones{
            padding: 0;
        }

}

 .order__form{
     display: flex;
     @include tablets{
         flex-direction: column;
     }
 }

.order__form-column{
    width: 50%; 
    margin-right: 5%;
    @include tablets{
        width: 100%;
        margin-left: 0;
    }
    

}
.order__form-row{
    display: flex;
    margin-bottom: rem(16px);
    @include tablets{
        justify-content: center;
    }
}


.order__form-label{
    margin-right: 5%;
    display: block;
  width: 100%;
}

.order__form-name{
    margin-bottom: rem(10px);
}

.order__form-input{
    border: rem(1px) solid #d1cfcb;
    border-radius: rem(5px);
    width: 100%;
    padding: rem(7px) rem(15px);

}

.order__form-input-textarea{
    height: rem(110px);
    resize: none;
}

.radio__button {
    position: relative;
    white-space: nowrap;
    margin-right: rem(20px);
    display: flex; 
  }

.radio__button-box {
    position: absolute;
    top: 0;
    left: rem(-9999px);
  }

  .radio__button-fake{
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    display: inline-block;
    margin-right: rem(10px);
    background: #fff;
    position: relative;
        &:after {
        content: "";
        display: block;
        position: absolute;
        width: rem(0px);
        height: rem(0px);
        border-radius: 50%;
        background: $red;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: width .3s, height .3s;

  }
}

.radio__button-box:checked + .radio__button-fake:after{
    width: 10px;
    height: 10px;
}

.radio__button--checkbox{
    .radio__button-fake {
      border-radius: rem(0px);
    }
    }




.radio__button--checkbox:checked{
    .radio__button-fake{
        &:after{
          content: '';
          background: url("../images/form/checkbox.png") 50% no-repeat transparent;
          background-size: contain;
          width: rem(11px);
          height: rem(9px);
          }
        }
}

  .order__form-button{
      background: $red;
      border: 0;
      border-radius: rem(5px);
      color: #fff;
      text-transform: uppercase;
      font-size: rem(14px);
      font-family: 'Ubuntu', Arial, sans-serif;
      font-weight: 500;
      margin-right: rem(20px);
      padding: rem(10px) rem(15px);
  }
  .order__form-button--clear{
    padding: 0;
    text-transform: none;
    background: transparent;
    font-weight: 400;
  }
  

