
.section-title{
    color: $yellow;
    
    &--left{
        text-align: left;
    }
    
    &--black{
        color: $black;
    }

    &--center{
        text-align: center; 
    }
    &--yellow{
        color: $yellow;
    }
}

