
.section-title{
    color: $yellow;
    text-align: left;

    &--black{
        color: $black;
    }

    &--center{
        text-align: center; 
    }
    &--yellow{
        color: $yellow;
    }
}

