

.sidebar__ul{
    display: flex;
    flex-direction: column;
}

.sidebar__li{
    justify-content: space-between;
}

.sidebar__link{
    text-decoration: none;
    color: inherit;
    position: relative;
    
    &::before{
        content: '';
        display:inline-block;
        width: 16px;
        height: 16px;
        border: solid 1px #ffffff;
        border-radius: 50%;
    }
    &:after{
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: #ffffff;
        border-radius: 50%;
        position: relative;
        bottom: 24px;
        left: 2px;
        margin: 5px;
    }
}