

.sidebar__ul{
    display: flex;
    flex-direction: column;
}

.sidebar__li{
    justify-content: space-between;
}

.sidebar__link{
    text-decoration: none;
    color: inherit;
    position: relative;
    
    &::before{
        content: '';
        display:inline-block;
        width: rem(16px);
        height: rem(16px);
        border: solid 1px #ffffff;
        border-radius: 50%;
    }
    &:after{
        content: '';
        display: inline-block;
        width: rem(6px);
        height: rem(6px);
        background-color: #ffffff;
        border-radius: 50%;
        position: relative;
        bottom: rem(24px);
        left: rem(2px);
        margin: rem(5px);
    }
}