.we{
    background: url('../images/2nd_page/bg.jpg') center center no-repeat/cover;
    width: 100%;
    height: 100vh;
    position: relative;
    color: $black;
}
.we__header{
    margin-bottom: 50px;
}

.we__ul{
    display: flex;
}

.we__li{
    flex: 1;
    margin-right: 36px;

    &:last-child{
        margin-right: 0;
    }
}
