.welcoming{
    background: url('../images/1st_page/leaves_burger.jpg') center center no-repeat/cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.welcoming__container{
    justify-content: flex-start;
}

.welcoming__content{
    display: flex;
    flex: .8; 
    align-items: center;
    justify-content: center;

    @include tablets {
        flex-direction: column;
        text-align: center;
    }

}
.welcoming__content-image{
    width: 50%;
    @include tablets{
        width: 100%;
    }
}

 
.welcoming__content-text{
    width: 50%;
    text-align: left; 
    @include tablets{
        width: 100%;
        padding-top: 0;
        text-align: center;
    }
}

.welcoming__desc-text{
    font-family: 'lifehack';
    font-weight: 500;
    font-size: rem(65px);
    line-height: 1.31;
    letter-spacing: -1.6px;
}
